<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Agendamento_de_Consultas/lib/JTattoo-1.6.11.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jtattoo.plaf.About"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Agendamento_de_Consultas"/>
</launchConfiguration>
